* {
    background-color: black;
    font-family: 'Jua', sans-serif;
    color: white;
    font-size: 25px;
    line-height: 200%;
}

#video {
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    width: 400px;
    height: 300px;
}

.header-main {
    font-family: 'Jua', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#welcome-header__title {
    text-align: center;
    font-size: 37px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#welcome-header__text {
    text-align: center;
    font-size: 35px;
    padding-bottom: 40px;
}

#arrow {
    color:thistle;
    font-size: 90px;
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: justify;
}

#arrow:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#arrow:hover {
    animation: ease-in-out;
}
.text-highlight {
    color:thistle;
    font-size: 35px;
}

main {
    position: relative;
    left: 60px;
}

.introduce {
    padding-bottom: 100px;
}

.subject {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px; 

}

#more {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.imgs {
    text-align: center;
    width: 13%;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

.more-text {
    width: 80%;
    align-items: center;
    padding-top: 20px;
    border-bottom: ivory 2px solid;
}